/* HTML and Body Styles */
header {
    font-family: 'Notable', sans-serif;
    font-size: 50px;
    text-align: center;
}

/* Heading Styles */




/* Structural Styles */




/* Aside and Blockquote Styles */



/* Navigation Styles */
nav {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
}
nav > ul {
    list-style-type: none;
}
nav a {
    text-decoration: none;
}


/* List Styles */



/* Outline Styles */




/* Section Styles */



/* Artilce Styles */




/* Footer Styles */
